<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="AuctionDbConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AuctionDb2;Data Source=DESKTOP-20VIBLO\SQLEXPRESS"
       providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>